In [17]:
"""
Warm-up 1: Cho một danh sách sản phẩm như sau:
products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
Viết chương trình hiển thị các sản phẩm có giá bé hơn hoặc bằng so với giá tiền mà người dùng nhập
"""

products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
price = int(input("nhập giá tiền: "))
for product in products:
    if products[product] <= price:
        print(product)

nhập giá tiền: 200

In [ ]:
"""
Warm-up 2: 
"""

## Bài 1: size of set
Hãy viết một chương trình để tính toán độ dài của một set

**Input**

In [ ]:
set1 = {"A", 1, "B", 2, "C", 3}
set2 = {"Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu"}
set3 = {(1, "Lion"), ( 2, "Tiger"), (3, "Fox")}

**Output:**

In [ ]:
Size of Set1: 6
Size of Set2: 6
Size of Set3: 3

**Your code**

In [3]:
set1 = {"A", 1, "B", 2, "C", 3}
set2 = {"Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu"}
set3 = {(1, "Lion"), ( 2, "Tiger"), (3, "Fox")}
# code below this line
print(f"size of set1: {len(set1)}")
print(f"size of set2: {len(set2)}")
print(f"size of set3: {len(set3)}")
# code above this line

size of set1: 6
size of set2: 6
size of set3: 3

## Bài 2: maximum and minimum of set
Hãy tìm giá trị lớn nhất và giá trị nhỏ nhất trong set

**Input**

In [ ]:
set1 = {8, 16, 24, 1, 25, 3, 10, 65, 55}

**Output:**

In [ ]:
"max is 65"
"min is 1"

**Your code**

In [4]:
set1 = {8, 16, 24, 1, 25, 3, 10, 65, 55}
# code below this line
min_value = max_value = set1.pop()
for value in set1:
    if value > max_value:
        max_value = value
    if value < min_value:
        min_value = value

print(f"max is: {max_value}")
print(f"min is: {min_value}")
# code above this line

max set: 65
min set: 1

In [11]:
set1 = {8, 16, 24, 1, 25, 3, 10, 65, 55}
print(f"max is {max(set1)}")
print(f"min is {min(set1)}")

max is 65
min is 1

## Bài 3: common set
Cho 2 biến set1 và set 2. Hãy kiểm tra xem set1 và set 2 có ít nhất một giá trị giống nhau hay không. Nếu có, in ra True, nếu không, in ra False.

**Input**

In [ ]:
a = {1, 2, 3, 4, 5}
b = {5, 6, 7, 8, 9}

**Output**

In [ ]:
True

**Your code**

In [6]:
a = {1, 2, 3, 4, 5}
b = {5, 6, 7, 8, 9}
# code below this line
check = False

for value in a:
    if value in b:
        check = True
        
print(check)
# code above this line

True

## Bài 4: common set 2
Cho 3 set khác nhau. Hãy in ra một set chứa các phần tử chung của 3 set đã cho

**Input**

In [ ]:
ar1 = {1, 5, 10, 20, 40, 80}
ar2 = {6, 7, 20, 80, 100}
ar3 = {3, 4, 15, 20, 30, 70, 80, 120}

**Output**

In [ ]:
{80, 20}

**Your code**

In [10]:
ar1 = {1, 5, 10, 20, 40, 80}
ar2 = {6, 7, 20, 80, 100}
ar3 = {3, 4, 15, 20, 30, 70, 80, 120}
# code below this line
result = set()

for value in ar1:
    if value in ar2 and value in ar3:
        result.add(value)
        
print(result)
        

# code above this line

{80, 20}

## Bài 5: list to dict
Cho 2 list có cùng số phần tử với nhau. Hãy tạo ra một dict từ 2 list đã cho theo format dưới đây:

**Input**

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Your code**

In [18]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
# code below this line
dict1 = {}
for i in range(len(keys)):
    dict1[keys[i]] = values[i]
    
print(dict1)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Bài 6: merge dictionary
Hãy gộp 2 dictionary sau đây thành một.

**Input**

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Your code**

In [19]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# code below this line
dict1.update(dict2)

print(dict1)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Bài 7: where is the value?
Hãy in ra giá trị của "history" trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

**Output**

In [ ]:
80

**Your code**

In [25]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
# code below this line
print(sampleDict['class']['student']['marks']['history'])
# code above this line

80

## Bài 8: Delete set of keys from a dictionary
Hãy xóa các key có trong set dưới đây ra khỏi dictionary.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}

**Output:**

In [ ]:
{'city': 'New york', 'age': 25}

**Your code**

In [26]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}
# code below this line
for key in keysToRemove:
    del sampleDict[key]
    
print(sampleDict)
# code above this line

{'age': 25, 'city': 'New york'}

## Bài 9: Check if a value 200 exists in a dictionary
Hãy kiểm tra xem số 200 có phải là value của dictionary dưới đây không nhé.

**Input**

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

**Output**

In [ ]:
True

**Your code**

In [28]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
# code below this line

print(200 in sampleDict.values())

# code above this line

True

## Bài 10: rename key
Hãy thay thế key `city` thành `location` trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

**Output**

In [ ]:
{
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "location": "New york"
}

**Your code**

In [34]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
# code below this line
print(sampleDict)
print('===============')

print("step1: Add: 'Location' key to sampleDict")
sampleDict['location']=sampleDict['city']
print(sampleDict)
print('==============')

print("Step 2: Remove 'city' key from sampleDict")
del sampleDict['city']
print(sampleDict)


# code above this line

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
===============
step1: Add: 'Location' key to sampleDict
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york', 'location': 'New york'}
==============
Step 2: Remove 'city' key from sampleDict
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Bài 11: key of minimum value
Hãy in ra key chứa value nhỏ nhất trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

**Output**

In [ ]:
Math

**Your code**

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
# code below this line

# code above this line

## Bài 12: new salary
Hãy tăng lương(`salary`) cho Brad từ 6500 lên 8500 trong dictionary dưới đây nhé.

**Input**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

**Output**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}

**Your code**

In [37]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
# code below this line
for employee in sampleDict.values():
    if employee['name'] == 'Brad':
        employee['salary'] = 8500
        break
print(sampleDict)
    
# code above this line

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}