## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
aList = [100, 200, 300, 400, 500]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [1]:
aList = [100, 200, 300, 400, 500]
# code below this line
aList.sort(reverse = True)
print(aList)
# code above this line

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [50]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line
List_moi = []
for i in range(len(list1)):
    for j in range(len(list2)):
        if i == j:
            word = list1[i] + list2[j]
            List_moi.append(word)

print(List_moi)
# code above this line

['My', 'name', 'is', 'Kelly']

In [49]:
# thầy chữa
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
result = []
for i in range(len(list1)):
    word = list1[i] + list2[i]
    result.append(word)
    
print(result)

['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [28]:
aList = [1, 2, 3, 4, 5, 6, 7]
# code below this line

bList = []
for value in aList:
    bList.append(value ** 2)
print(bList)

# code above this line

[1, 4, 9, 16, 25, 36, 49]

**Output**

In [72]:
[1, 4, 9, 16, 25, 36, 49]

[1, 4, 9, 16, 25, 36, 49]

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [27]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line
result = []
for verb in list1:
    for pronoun in list2:
        result.append(verb + pronoun)
print(result)
    
# code above this line

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [31]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line
for i in range(len(list1)):
    print(f"{list1[i]} {list2[len(list1) - 1 - i]}")
    
# code above this line

10 400
20 300
30 200
40 100

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [32]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line
list2 = []
for item in list1:
    if item:
        list2.append(item)
        
print(list2)
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

In [34]:
list1 = ["Mike", "", "Emma", "Kelly", "", "", "", "Brad"]
while "" in list1:
    list1.remove("")

print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [38]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break
        
print(list1)
    
# code above this line

[5, 10, 15, 200, 25, 50, 20]

In [39]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
result = -1
for i in range(len(list1)):
    if list1[i] == 20:
        result = i
        del list1[i]
        list1.insert(i,200)
        print(list1)
        break
# code above this line

[5, 10, 15, 200, 25, 50, 20]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [40]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line
while 20 in list1:
    list1.remove(20)
    
print(list1)
# code above this line

[5, 15, 25, 50]

## Bài 9: unpack tuple

In [ ]:
aTuple = (10, 20, 30, 40)

In [41]:
aTuple = (10, 20, 30, 40)
# Your code
a,b,c,d = aTuple
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

## Bài 10: swap tuple
Hãy thay đổi giá trị của 2 tuple cho nhau

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

**Output**

In [ ]:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [44]:
tuple1 = (11, 22)
tuple2 = (99, 88)
# code below this line
tuple3 = tuple1
tuple1 = tuple2
tuple2 = tuple3

print(tuple1)
print(tuple2)
# code above this line

(99, 88)
(11, 22)

In [43]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

## Bài 11: count occurrence
Hãy đếm tổng số lần xuất hiện của 50 trong tuple

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

**Output**

In [ ]:
2

In [45]:
tuple1 = (50, 10, 60, 70, 50)
# code below this line
total = 0
for item in tuple1:
    if item == 50:
        total += 1
print(total)
# code above this line

2

In [46]:
tuple1 = (50, 10, 60, 70, 50)
total = tuple1.count(50)
print(total)

2

## Bài 12: is it the same?
Hãy kiểm tra xem các phần tử trong tuple có giống nhau hay không.

In [ ]:
tuple1 = (45, 45, 45, 45)

**Output**

In [ ]:
True

In [48]:
tuple1 = (45, 45, 45, 45)
# code below this line
print(tuple1.count(tuple1[0]) == len(tuple1))
# code above this line

True